[supervisord]
nodaemon=true
logfile=/dev/null
pidfile=/var/run/supervisord.pid

[unix_http_server]
file=/var/run/supervisord.sock
chown=root:root

[supervisorctl]
serverurl=unix:///var/run/supervisord.sock

[rpcinterface:supervisor]
supervisor.rpcinterface_factory=supervisor.rpcinterface:make_main_rpcinterface

[program:cron]
command=/usr/sbin/cron -f -L 0
stdout_logfile=/var/log/supervisor/%(program_name)s/stdout.log
stderr_logfile=/var/log/supervisor/%(program_name)s/stderr.log

[program:nginx]
command=/usr/local/sbin/nginx -c /etc/nginx/nginx.conf -g "daemon off;"
stdout_logfile=/var/log/supervisor/%(program_name)s/stdout.log
stderr_logfile=/var/log/supervisor/%(program_name)s/stderr.log

[program:gunicorn]
command=/usr/local/bin/gunicorn -c /etc/gunicorn.conf {{ GUNICORN_ARGS }} {{ APP_MODULE }}
user={{ WWW_USER }}
stdout_logfile=/var/log/supervisor/%(program_name)s/stdout.log
stderr_logfile=/var/log/supervisor/%(program_name)s/stderr.log
directory={{ APP_ROOT }}

{% if WEBPACK_CONFIG %}
[program:webpack]
command=/node_modules/.bin/webpack --config {{ WEBPACK_CONFIG}} --watch {{ WEBPACK_ARGS }}
stdout_logfile=/var/log/supervisor/%(program_name)s/stdout.log
stderr_logfile=/var/log/supervisor/%(program_name)s/stderr.log
{% endif %}
